{# templates/base.html #}
<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="stylesheet" href="assets/css/bootstrap.min.css ">
	<link rel="stylesheet" href="assets/css/code.min.css">
	<link rel="stylesheet" href="assets/css/style.css" />
	<link rel='stylesheet' href='assets/css/roboto.css'>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
  <script type="text/javascript" src="assets/MathJax/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
	<title>Index</title>
</head>
<body>
    <a id="button"></a>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand mx-3" href="index.html">
            Aden Northcote
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="vimwiki/wikiindex.html">Wiki Index</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container my-3">
    <h1>
      Aden Northcote
      <small class="text-muted">Data Operations Engineer</small>
    </h1>
    <p>Basic website for hosting notes and other things.</p>
    <p><a href="https://www.linkedin.com/in/aden-northcote/">LinkedIn</a>,<a href="https://github.com/adenwuts">Github.</a></p>
    <p>The <a href="vimwiki/wikiindex.html">Wiki</a> contains study notes.</p>
    <p>Note pages are built with <a href="https://github.com/vimwiki/vimwiki">Vimwiki</a>.</p>
    <p>Built with Python, Jinja2, Vimwiki, Github.</p>
    <h3>Changes</h3>
    <ul>
    {% for rc in recent_commits %}
      <li>{{ rc.0 }} - {{ rc.1 }}</li>
    {% endfor %}
    </ul>


    </div>

<!-- Footer -->
<footer class="text-center text-lg-start bg-body-tertiary text-muted">
  <!-- Section: Social media -->
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <!-- Left -->
    <div class="me-5 d-none d-lg-block">
      <span></span>
    </div>
    <!-- Left -->

    <!-- Right -->
    <div>
      <a href="https://www.linkedin.com/in/aden-northcote/" target="_blank" class="me-4 text-reset social">
        <i class="fa-brands fa-linkedin"></i>
      </a>
      <a href="https://github.com/adenwuts" target="_blank" class="me-4 text-reset social">
        <i class="fa-brands fa-github"></i>
      </a>
    </div>
    <!-- Right -->
</footer>
<!-- Footer -->

</body>
</html>

<script src="assets/js/jquery-3.3.1.min.js"></script>
<script src="assets/js/highlight.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<!-- Add class to code -->
<script type="text/javascript">
    $(document).ready(function(){
		$('table').each(function() {
			$(this).prepend('<thead class="thead-dark"></thead>')
			$(this).find('thead').append($(this).find("tr:eq(0)"));
			$(this).addClass('table table-hover table-bordered');
		});

        var btn = $('#button');

        $(window).scroll(function() {
            if ($(window).scrollTop() > 300) {
                btn.addClass('show');
            } else {
                btn.removeClass('show');
            }
        });
        btn.on('click', function(e) {
            e.preventDefault();
            $('html, body').animate({scrollTop:0}, '300');
        });
    });
	$('.code').each(function() {
		$(this).html('<code>'+$(this).html()+'</code>');
	});
	hljs.initHighlightingOnLoad();
</script>
